*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1026px;
    width: 100%;
    margin: 0 auto;
}
header{
    padding: 10px;
    background-color: #193e85;
    margin-bottom: 40px;
}
header .container h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container ul li{
    display: inline;
}
.container ul li a {
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
}
.container-flex {
    display: flex;
    margin-bottom: 80px;
}
.container-flex img {
    max-width: 400px;
    margin-right: 20px;
}
.container-flex .sobre-a-loja h2 {
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 2px solid #193e85;
}
.container-flex .sobre-a-loja p{
    font-size: 18px;
    align-items: center;
    font-family:'Roboto', sans-serif;
}

.container h3 {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px solid #193e85 ;
    margin-bottom: 40px;
}
section .produtos-variados{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
section .produtos-variados img {
    max-width: 250px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border: 2px solid #193e85;
}
section .produtos-variados h4{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-family:'Roboto', sans-serif;
}
section .produtos-variados p {
    font-family:'Roboto', sans-serif;
    font-size: 13px;
    margin: 10px;
}
section .produtos-variados button {
    color:#fff;
    background-color:#193e85;
    width: 80%;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;

}
@media screen and (min-width:638px) and (max-width:1023px) {
    .container{
        width: 90%;
    }
    .container ul li a {
    font-size: 13px;
    margin-rigth:5px;
    width:100%;
}
    .container-flex img {
        heigth:400px;
        width:100px;
}








    
    header{
        padding: 10px;
    }
    .container-flex{
        display: block;
    }
    .container-flex {
        margin-bottom: 80px;
    }
    .container > .produtos-variados{
        grid-template-columns: repeat(2, 49%);
        align-items: center;
        width: 100%;;
    }
    .container> .produtos-variados img {
        margin:15px 90px;
    }
    section .produtos-variados #img-pr{
        height: 200px;
    }
        section .produtos-variados button {
        width: 90%;
    }
    .container produtos h3{
        align-items:center
    }
}
@media screen and (min-width:375px) and (max-width:636px) {

}
